{
    "extends":[
        "standard",
        "prettier",
        "prettier/standard"
    ],
    "plugins": [
        "import",
        "prettier",
        "standard"
    ],
    "parserOptions": {
        "parser": "babel-eslint",
        "ecmaVersion": 2018
    },
    "env": {
        "es6": true,
        "node": true,
        "browser": true
    },
    "globals":{
        
    },
    "rules": {
    }
}
